#
# This is the default ansible 'hosts' file.
#

#cluster overview

[controllers]
ctl01 ansible_host=10.100.198.1 hypervisor_name=mas01
ctl02 ansible_host=10.100.198.2 hypervisor_name=mas02
ctl03 ansible_host=10.100.198.3 hypervisor_name=mas03

[computenodes]
cmp01 ansible_host=10.100.198.4 hypervisor_name=hyp01

[storagenodes]
str01 ansible_host=10.100.198.11 excellerated_backend=false
str02 ansible_host=10.100.198.12 excellerated_backend=false
str03 ansible_host=10.100.168.13 excellerated_backend=true

#cluster details

[cluster:children]
controllers
computenodes
storagenodes

[cluster:vars]
cluster_password=rooter
cluster_type=KVM
install_master_ip=10.100.69.201
